
.chat-main
  .chat-main__group-info
    .chat-main__group-info__box
      %p.chat-main__group-info__box-group-name
        = @group.name
    .chat-main__group-info__box-member
      %p.chat-main__group-info__box-member-name
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info__box-btn
      = link_to edit_group_path(current_user) do
        Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'



