.side-bar
  .side-bar__header
    .side-bar__header__box
      %p.side-bar__header__box__name
        = current_user.name
      %ul.side-bar__header__box__menu
        %li.side-bar__header__box__menu__edit-user
          = link_to new_group_path do
            = icon('fas','edit')
        %li.side-bar__header__box__menu__new-group
          = link_to edit_user_path(current_user.id) do
            = icon('fas', 'cog', class: 'icon')


  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group-list__box
            .group-list__box__group
              %p.group-list__box__group-name
                = group.name
            .group-list__box__message
              %p.group-list__box__message-list
                = group.show_last_message

  -# .side-bar__groups-list
  -#   - current_user.groups.each do |group|
  -#     .group
  -#       = link_to '#' do
  -#         .group__name
  -#           = group.name
  -#         .group__message
  -#           メッセージはまだありません。